[submodule "packages/protocol"]
	path = packages/protocol
	url = https://github.com/arkenrealms/evolution-protocol.git
	branch = main
[submodule "packages/realm"]
	path = packages/realm
	url = https://github.com/arkenrealms/evolution-realm.git
	branch = main
[submodule "packages/shard"]
	path = packages/shard
	url = https://github.com/arkenrealms/evolution-shard.git
	branch = main
